*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 45px;
    background-color: white;
    width: 100%;
    margin-top: 10px;
}

/* INIZIO SEZIONE ABBONAMENTI */

.first-ul li{
    list-style-type: none;
    color: grey;
    margin: 0 auto;
    float: left;
    padding: 15px 15px 15px 15px;
}

.second-ul li{
    list-style-type: none;
    color: grey;
    margin: 0 auto;
    float: right;
    padding: 15px 15px 15px 15px;
}
.button-1{
    background-color: blue;
    font-size: large;
    color: lightgrey;
    width: 70px;
}

.background-azure{
    background-color: rgb(165, 177, 200);
    width: 100%;
    height: 550px;
    margin-top: 25px;
}

h1{
    font-size: 70px;
    padding: 20px 20px 20px 20px;
    text-align: justify;
    margin-left: 25%;
    font-weight: 600;
}

.col-25{
    position: relative;
    font-size: small;
    margin-left: 25%;
    padding: 20px 20px 20px 20px;
}

.col-25 img{
    position: absolute;
    width: 850px;
    height: 450px;
    left: 270px;
    bottom: -140px;
    top: -220px;
}

.button-2{
    background-color: blue;
    color: white;
    width: 180px;
    height: 30px;
    margin-top: 10px;
}

h2{
    font-size: 40px;
    margin-top: 180px;
    text-align: center;
}

h3{
    font-size: 35px;
    margin-top: 25px;
    text-align: justify;
    margin-left: 50px;
}

h4, h5{
    text-align: justify;
    margin-left: 50px;
}

.radio-box{
    text-align: center;
    margin-left: -300px;
    color: grey;
}

.container{
    text-align: center;
}

.col-30{
    width: 25%;
    height: 1250px;
    border: 1px solid lightgrey;
    display: inline-block;
    justify-content: center;
}

hr{
    width: 100%;
}

ul{
    list-style-type: none;
    text-align: justify;
    margin-left: 50px;
    line-height: 50px;
}

.button-blue{
    color: white;
    background-color: blueviolet;
    width: 300px;
    font-size: 18px;
}
.alternative{
    margin-right: 170px;
}

.hr-2{
    width: 50px;
    margin-left: 50px;
}

.last-didascaly{
    margin-right: 380px;
}

.col-100{
    width: 90%;
    height: 250px;
    border: 1px solid lightgrey;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 100px;
    margin-right: 35px;
}

p{
    text-align: center;
    margin-top: 10px;
}

.risorsa{
    font-size: 25px;
    margin-left: 50px;
}
.risorsa-2{
    font-size: 18px;
    margin-left: 50px;
}

#paragrafo{
    margin-left: 50px;
}

.button-dx{
    position: absolute;
    left: 1850px;
    bottom: -1250px;
    width: 150px;
}

/* FINE SEZIONE ABBONAMENTI */

/* INIZIO SEZIONE PARTNER DROPBOX CON FOTO*/

.block-1{
    max-width: 1650px;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 200px;
}

.row{
    width: 100%;
    margin: 0 auto;
}

.col-50 img{
    width: 46%;
}
.text-1{
    position: absolute;
    top: 2850px;
    left: 1150px;
    font-size: 25px;
}
.text-2{
    position: absolute;
    top: 2970px;
    left: 1150px;
    font-size: 25px;
}
#btn {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: grey;
    padding: 10px 20px;
    border: solid 1px #0076a3;
    background: white;
    }

    /* FINE SEZIONE PARTNER DROPBOX CON FOTO */

/* INIZIO LAYOUT DUE RIGHE TRE COLONNE CON FOTO */

.container-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1600px;
    height: 650px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 650px;
}
.row-layout{
    width: 100%;
}
.col-layout{
    width: calc(100%/3);
}
.col-layout-1 img{
    width: 350px;
}

/* FINE LAYOUT DUE RIGHE TRE COLONNE CON FOTO */

.container-small{
    position: relative;
    max-width: 1650px;
    height: 250px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.text-3{
    position: absolute;
    bottom: 95px;
    font-size: 35px;
}
a{
    position: absolute;
    bottom: 35px;
    text-decoration: underline;
}

/* INIZIO SEZIONE QUADRATI */

#squares-section{
    display: flex;
    position: relative;
}

.bg-grey{
    background-color: rgba(245,245,245);
}
.bg-grey img{
    margin-left: 55px;
    margin-top: 45px;
    width: 280px;
}


.display-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square-sm{
    width: 50%;
    height: 50%;
    position: relative;
}

.bg-1{
    background-color: rgba(162,211,155);
    border: 15px solid rgba(209,233,205);
}
.bg-2{
    background-color: rgba(97,8,43);
}
.bg-3{
    background-color: rgba(0,147,206);
}
.bg-4{
    background-color: rgba(255,28,28);
}

.bg-brown{
    background-color: rgba(213,0,31);
}
.bg-celeste{
    background-color: rgba(180,208,231);
}
.bg-violet{
    background-color: rgba(13,36,129);
}
.bg-lightgrey{
    background-color: rgba(255,216,48);
}

.square-sm img{
    position: absolute;
    filter: invert(1);
    top: 165px;  
    left: 100px;
    width: 200px;
}

.container-mini{
    max-width: 2300px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 150px;
    background-color: rgba(180,208,231);
}
.row-mini{
    width: 100%;
}
.p-mini{
    position: absolute;
    left: 1000px;
    top: 145px;
    font-size: 35px;
}